MLFLOW_HOST=localhost # TODO change when deploying to container
MLFLOW_PORT=10008


AZURE_AI_SEARCH_API_KEY=
AZURE_AI_SEARCH_INDEX_NAME=
AZURE_AI_SEARCH_SERVICE_NAME=
OPENAI_ENDPOINT=
OPENAI_API_KEY=


AZURE_AI_SEARCH_SOURCE_KEY=
AZURE_AI_SEARCH_CONTENT_KEY=